[Unit]
Description=snapraid-btrfs-runner

[Service]
Type=oneshot
User=adam
ExecStart=/home/linuxbrew/.linuxbrew/bin/python3 /home/adam/snapraid/snapraid-btrfs-runner.py -c /home/adam/snapraid/snapraid-btrfs-runner.conf
ExecStartPost=/home/linuxbrew/.linuxbrew/bin/python3 /home/adam/restic/restic-backup.py
