[Unit]
Description=snapraid-btrfs-runner

[Service]
Type=oneshot
User=adam
ExecStart=/home/adam/.rye/shims/python /home/adam/snapraid/snapraid-btrfs-runner.py -c /home/adam/snapraid/snapraid-btrfs-runner.conf
ExecStartPost=/home/adam/.rye/shims/python /home/adam/restic/restic-backup.py
