[user]
	name = Adam Langbert
	email = adamhl@pm.me
	signingkey = ~/.ssh/id_ed25519.pub
[pull]
	ff = only
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[credential "https://gitlab.vulcan.mil"]
	username = @adam.h.langbert.mil
	helper = "!echo password=$(sops -d --extract \"['swf_vulcan_pat']\" ~/secrets.yaml); true"
[includeIf "hasconfig:remote.*.url:https://gitlab.vulcan.mil/**"]
	path = .gitconfig-swf
[credential "https://sync.git.mil"]
	username = @adam.h.langbert.mil
	helper = "!echo password=$(sops -d --extract \"['swf_gitmil_pat']\" ~/secrets.yaml); true"
[includeIf "hasconfig:remote.*.url:https://sync.git.mil/**"]
	path = .gitconfig-swf
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
