[user]
	name = Adam Langbert
	email = adamhl@pm.me
	signingkey = ~/.ssh/id_ed25519.pub
[pull]
	ff = only
[commit]
	gpgsign = true
[gpg]
	format = ssh
[credential "https://gitlab.create.army.mil"]
	username = @adam.h.langbert.mil
	helper = "!echo password=$(sops -d --extract \"['swf_gitlab_pat']\" ~/secrets.yaml); true"
