{
	order authenticate before respond
	order authorize before reverse_proxy

	security {
		local identity store localdb {
			realm local
			path /etc/caddy/users.json
		}

		authentication portal authportal {
			enable identity store localdb
			cookie domain adamhl.dev
			cookie lifetime 172800
			crypto default token lifetime 86400

			ui {
				links {
					"Portal Settings" /settings icon "las la-cog"
				}
			}
		}

		authorization policy admin_policy {
			set auth url https://auth.adamhl.dev
			allow roles authp/admin
		}
	}
}

adamhl.dev {
	respond "Hey there :)"
}

*.adamhl.dev {
	tls {
		dns route53
	}

	@auth host auth.adamhl.dev
	handle @auth {
		authenticate with authportal
	}

	@plex host plex.adamhl.dev
	handle @plex {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:32400
		}

		authorize with admin_policy
		reverse_proxy localhost:32400
	}

	@unifi host unifi.adamhl.dev
	handle @unifi {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8443 {
				transport http {
					tls_insecure_skip_verify
				}
			}
		}

		authorize with admin_policy
		reverse_proxy localhost:8443 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@cups host cups.adamhl.dev
	handle @cups {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:631 {
				header_up Host 127.0.0.1
			}
		}

		authorize with admin_policy
		reverse_proxy localhost:631 {
			header_up Host 127.0.0.1
		}
	}

	@vault host vault.adamhl.dev
	handle @vault {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8000
		}

		authorize with admin_policy
		reverse_proxy localhost:8000
	}

	@sync host sync.adamhl.dev
	handle @sync {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8001
		}

		authorize with admin_policy
		reverse_proxy localhost:8001
	}

	@files host files.adamhl.dev
	handle @files {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8002
		}

		authorize with admin_policy
		reverse_proxy localhost:8002
	}

	@eyir host eyir.adamhl.dev
	handle @eyir {
		reverse_proxy localhost:8003
	}

	@utk host utk.adamhl.dev
	handle @utk {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy zuko.lan:8004
		}

		authorize with admin_policy
		reverse_proxy zuko.lan:8004
	}

	@dashdot host dashdot.adamhl.dev
	handle @dashdot {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8005
		}

		authorize with admin_policy
		reverse_proxy localhost:8005
	}

	@sonarr host sonarr.adamhl.dev
	handle @sonarr {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8006
		}

		authorize with admin_policy
		reverse_proxy localhost:8006
	}

	@radarr host radarr.adamhl.dev
	handle @radarr {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8007
		}

		authorize with admin_policy
		reverse_proxy localhost:8007
	}

	@ntfy host ntfy.adamhl.dev
	handle @ntfy {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8008
		}

		authorize with admin_policy
		reverse_proxy localhost:8008
	}

	@scrutiny host scrutiny.adamhl.dev
	handle @scrutiny {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8010
		}

		authorize with admin_policy
		reverse_proxy localhost:8010
	}

	@homarr host homarr.adamhl.dev
	handle @homarr {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8011
		}

		authorize with admin_policy
		reverse_proxy localhost:8011
	}

	@kavita host kavita.adamhl.dev
	handle @kavita {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8013
		}

		authorize with admin_policy
		reverse_proxy localhost:8013
	}

	@cyberchef host cyberchef.adamhl.dev
	handle @cyberchef {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8014
		}

		authorize with admin_policy
		reverse_proxy localhost:8014
	}

	@jellyfin host jellyfin.adamhl.dev
	handle @jellyfin {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.126.163.49
		handle @authorized_ips {
			reverse_proxy localhost:8015
		}

		authorize with admin_policy
		reverse_proxy localhost:8015
	}
