{
	email adamhl@pm.me

	order authenticate before respond
	order authorize before reverse_proxy

	security {
		local identity store localdb {
			realm local
			path /etc/caddy/users.json
		}

		authentication portal authportal {
			enable identity store localdb
			cookie domain adamhl.dev
			cookie lifetime 172800
			crypto default token lifetime 86400

			ui {
				links {
					"Portal Settings" /settings icon "las la-cog"
				}
			}
		}

		authorization policy admin_policy {
			set auth url https://auth.adamhl.dev
			allow roles authp/admin
		}
	}
}

joieparma.com {
	@resume path /resume
	handle @resume {
		root /srv/joieparma.com
		rewrite * /resume.pdf
		file_server
	}

	reverse_proxy sid.lan:9000
}

adamhl.dev {
	reverse_proxy sid.lan:8000
}

*.adamhl.dev {
	tls {
		dns route53 {
			wait_for_propagation true
		}
	}

	@wildcard host *.adamhl.dev
	handle @wildcard {
		redir https://adamhl.dev
	}
}

auth.adamhl.dev {
	authenticate with authportal
}

pve.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy https://pve.lan:8006 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	authorize with admin_policy
	reverse_proxy https://pve.lan:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

opnsense.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy https://opnsense.lan {
			transport http {
				tls_insecure_skip_verify
				versions 1.1
			}
		}
	}

	authorize with admin_policy
	reverse_proxy https://opnsense.lan {
		transport http {
			tls_insecure_skip_verify
			versions 1.1
		}
	}
}

backrest.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy backrest.lan:8000
	}

	authorize with admin_policy
	reverse_proxy backrest.lan:8000
}

ha.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy homeassistant.lan:8123
	}

	authorize with admin_policy
	reverse_proxy homeassistant.lan:8123
}

unifi.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy https://unifi.lan:8443 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	authorize with admin_policy
	reverse_proxy https://unifi.lan:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

plex.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy plex.lan:32400
	}

	authorize with admin_policy
	reverse_proxy plex.lan:32400
}

files.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8002
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8002
}

qbittorrent.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy qbittorrent.lan:8080
	}

	authorize with admin_policy
	reverse_proxy qbittorrent.lan:8080
}

librechat.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8004
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8004
}

umami.adamhl.dev {
	@script_js path /script.js
	handle @script_js {
		reverse_proxy sid.lan:8005
	}

	@api path /api/*
	handle @api {
		reverse_proxy sid.lan:8005
	}

	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8005
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8005
}

sonarr.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sonarr.lan:8989
	}

	authorize with admin_policy
	reverse_proxy sonarr.lan:8989
}

radarr.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8007
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8007
}

share.adamhl.dev {
	reverse_proxy sid.lan:8008
}

cyberchef.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8009
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8009
}

scrutiny.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8010
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8010
}

homarr.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8011
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8011
}

kavita.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8012
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8012
}

paperless.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy paperless.lan:8000
	}

	authorize with admin_policy
	reverse_proxy paperless.lan:8000
}

immich.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy immich.lan:8000
	}

	authorize with admin_policy
	reverse_proxy immich.lan:8000
}

actual.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy sid.lan:8015
	}

	authorize with admin_policy
	reverse_proxy sid.lan:8015
}

kan.adamhl.dev {
	@authorized_ips remote_ip private_ranges 100.89.9.15 100.99.68.15
	handle @authorized_ips {
		reverse_proxy kan.lan:8000
	}

	authorize with admin_policy
	reverse_proxy kan.lan:8000
}

watchtower.adamhl.dev {
	reverse_proxy sid.lan:8020
}
