{
	order authenticate before respond
	order authorize before reverse_proxy

	security {
		local identity store localdb {
			realm local
			path /etc/caddy/users.json
		}

		authentication portal authportal {
			enable identity store localdb
			cookie domain adamhl.dev
			cookie lifetime 172800
			crypto default token lifetime 86400

			ui {
				links {
					"Portal Settings" /settings icon "las la-cog"
				}
			}
		}

		authorization policy admin_policy {
			set auth url https://auth.adamhl.dev
			allow roles authp/admin
		}
	}
}

adamhl.dev {
	reverse_proxy sid.lan:8000
}

*.adamhl.dev {
	tls {
		dns route53
		propagation_timeout -1
		propagation_delay 20s
	}

	@auth host auth.adamhl.dev
	handle @auth {
		authenticate with authportal
	}

	@pve host pve.adamhl.dev
	handle @pve {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy https://pve.lan:8006 {
				transport http {
					tls_insecure_skip_verify
				}
			}
		}

		authorize with admin_policy
		reverse_proxy https://pve.lan:8006 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@opnsense host opnsense.adamhl.dev
	handle @opnsense {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy https://opnsense.lan {
				transport http {
					tls_insecure_skip_verify
				}
			}
		}

		authorize with admin_policy
		reverse_proxy https://opnsense.lan {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@truenas host truenas.adamhl.dev
	handle @truenas {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy https://truenas.lan {
				transport http {
					tls_insecure_skip_verify
				}
			}
		}

		authorize with admin_policy
		reverse_proxy https://truenas.lan {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@ha host ha.adamhl.dev
	handle @ha {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy homeassistant.lan:8123
		}

		authorize with admin_policy
		reverse_proxy homeassistant.lan:8123
	}

	@unifi host unifi.adamhl.dev
	handle @unifi {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy https://sid.lan:8443 {
				transport http {
					tls_insecure_skip_verify
				}
			}
		}

		authorize with admin_policy
		reverse_proxy https://sid.lan:8443 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@plex host plex.adamhl.dev
	handle @plex {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:32400
		}

		authorize with admin_policy
		reverse_proxy sid.lan:32400
	}

	@sync host sync.adamhl.dev
	handle @sync {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8001
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8001
	}

	@files host files.adamhl.dev
	handle @files {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8002
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8002
	}

	@librechat host librechat.adamhl.dev
	handle @librechat {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8004
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8004
	}

	@sonarr host sonarr.adamhl.dev
	handle @sonarr {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8006
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8006
	}

	@radarr host radarr.adamhl.dev
	handle @radarr {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8007
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8007
	}

	@cyberchef host cyberchef.adamhl.dev
	handle @cyberchef {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8009
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8009
	}

	@scrutiny host scrutiny.adamhl.dev
	handle @scrutiny {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8010
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8010
	}

	@homarr host homarr.adamhl.dev
	handle @homarr {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8011
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8011
	}

	@kavita host kavita.adamhl.dev
	handle @kavita {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8012
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8012
	}

	@paperless host paperless.adamhl.dev
	handle @paperless {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8013
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8013
	}

	@immich host immich.adamhl.dev
	handle @immich {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8014
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8014
	}

	@actual host actual.adamhl.dev
	handle @actual {
		@authorized_ips remote_ip private_ranges 100.85.253.103 100.97.191.90 100.101.107.135
		handle @authorized_ips {
			reverse_proxy sid.lan:8015
		}

		authorize with admin_policy
		reverse_proxy sid.lan:8015
	}

	@watchtower host watchtower.adamhl.dev
	handle @watchtower {
		reverse_proxy sid.lan:8020
	}
}
